{% extends 'layout.html.twig' %}

{% block title %}Pricing{% endblock %}

{% block body %}
    <h1>Pricing</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pricing.id }}</td>
            </tr>
            <tr>
                <th>Adult</th>
                <td>{{ pricing.adult }}</td>
            </tr>
            <tr>
                <th>Child</th>
                <td>{{ pricing.child }}</td>
            </tr>
            <tr>
                <th>School</th>
                <td>{{ pricing.school }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pricing_index') }}">back to list</a>

    <a href="{{ path('pricing_edit', {'id': pricing.id}) }}">edit</a>

    {{ include('pricing/_delete_form.html.twig') }}
{% endblock %}
