{% extends 'layout.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mail</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Message</th>
                <th>Answer</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.mail }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.message }}</td>
                <td>{{ contact.answer }}</td>
                <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="text-center">
                    <button style="border:none; background-color: white;" href="" data-toggle="modal" data-target="#modal-answer{{ contact.id }}"><i class="fas fa-comment-dots"></i></button>
                    <form method="post" action="{{ path('contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
                        <button style="border:none; background-color: white;"><i class="fas fa-trash-alt"></i></button>

                    </form>
                    {% include 'contact/modal.html.twig' %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-outline-dark mb-3 ml-3"><a href="{{ path('admin') }}">back</a></button>
{% endblock %}
