{% extends 'layout.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mail</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Message</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.mail }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.message }}</td>
                <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-outline-dark mb-3 ml-3"><a href="{{ path('contact_new') }}">Create new</a></button>
    <button class="btn btn-outline-dark mb-3 ml-3"><a href="{{ path('admin') }}">back</a></button>
{% endblock %}
