{% extends 'layout.html.twig' %}

{% block title %}Performance{% endblock %}

{% block body %}
    <h1>Performance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ performance.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ performance.title }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ performance.category }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ performance.description }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ performance.poster }}</td>
            </tr>
            <tr>
                <th> Aperçu image</th>
                <td><img src="{{performance.poster}}"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('performance_index') }}">back to list</a>

    <a href="{{ path('performance_edit', {'id': performance.id}) }}">edit</a>

    {{ include('performance/_delete_form.html.twig') }}
{% endblock %}
